.hero {



}



footer {
    position: relative;

    p:last-child {
        font-size: 0.8em;
        font-weight: 700;
    }


    span {
        margin: 0 2px;
        background: black;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        display: inline-block;
    }
}


