.panel {


    .panel-heading {
        cursor: pointer;

        &:hover {
            color: #ffbe76;
        }
    }

    .panel-collapse {
        overflow: hidden;
        transition: height 0.3s ease-out;
    }

    .panel-body {
        border: none;
    }

    h2 {
        margin-top: 5px;
    }
}
