.home {
    // margin: 8em 3em;

    img {
        height: 20rem;
    }


    .hero {
        display: flex;
        justify-content: center;
        align-items: center;
        // border: 1px dotted #333; // helper
        height: 100vh;
        text-align: center;
        text-transform: uppercase;
        line-height: 1.5rem;
        letter-spacing: .2rem;

        h1 {
            // letter-spacing: 1.2rem;
            // font-size: 5rem;
            // font-family: $ff-ss;
            display: block;
            // flex-direction: column;
            transform: translateY(-10rem);
            // animation: moveInLeft 1s ease-out;

        }
        .hero-main {
            display: inline-block;
            color: $dark-gray;
            animation: moveInLeft 1s linear;
        }
        .hero-sub {
            margin-left: 1rem;
            display: inline-block;
            animation: moveInRight 1s linear;
        }
    }
}
