// COLORS

$white: #FFFFFF;
$light-gray: #E8E9EB;
$gray: #A7A7A7;
$dark-gray: #606060;
$accent: #03AFC2;
$dark-blue: #223843;




// -- DIMENSIONS -- 
$navheight: 7rem;

// -- EFFECTS -- 
$shadow-main: 0.1rem 0.3rem 1.5rem rgba(0,0,0,.2);

