.navbar {
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 900;
    border-bottom: 1px solid #AAB7B8;
    box-shadow: 0 5px 10px #A6ACAF;
    background: rgba(224, 242, 242, .8);

    .logo {
  
    }

    nav {
        position: absolute;
    }

}
