$background: rgba(224, 242, 242, .8);

.navbar {
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 900;
    background: $background;

    .logo {
        margin-top: 20px;
    }

    nav {
        position: absolute;
        background: $background;
        width: 100%;
        text-align: left;
        // display: none;
        // opacity: 0;
        transform: scale(0);
        transform-origin: top;
        // transition: scale .3s ease-in-out;
        transition: transform .2s ease-in;
    }

    nav li {
        margin-bottom: 1em;
        margin-left: 1em;
    }

    nav a {
        color: $gray;
        text-transform: uppercase;
        font-size: 1.2rem;

        &:hover {
            color: #636e72;
        }
    }

    .nav-toggle:checked ~ nav {
        // display: block;
        // opacity: 100;
        transform: scale(1);
    }

    .nav-toggle {
        display: none;
    }

    .nav-toggle-label {
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 1em;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .nav-toggle-label span,
    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        display: block;
        background: #2d3436;
        height: 2px;
        width: 2em;
        border-radius: 2px;
        position: relative;
    }

    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
       content: '';
       position: absolute;
    }

    .nav-toggle-label span::before {
        bottom: 7px;
    }

    .nav-toggle-label span::after {
        top: 7px;
    }

    @media screen and (min-width: 800px) {

        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;

        .logo {
            grid-column: 2 / span 1;
        }
        
        nav {
            all: unset;
            grid-column: 3 / 4;
            display: flex;
            // border: 1px dotted hotpink; // helper
            justify-content: flex-end;
            align-items: center;

        }
        nav ul {
            display: flex;
            // border: 1px dotted black;
            // justify-content: flex-end; // helper

            li {
                margin-left: 3em;
                margin-bottom: 0;
            }

            a {
                position: relative;
            }

            a::before {
                content: '';
                position: absolute;
                height: 2px;
                background: #636e72;
                left: 0;
                right: 0;
                top: 1.2em;
                transform: scale(0, 1);
                transform-origin: right;
                opacity: 0;
                transition: transform 0.2s ease-in-out;
            }
            a:hover {

                &::before{
                    // transition: opacity 0.2s linear;            
                    transform: scale(1, 1);
                    opacity: 1;               
                }
            }
        }

        .nav-toggle-label {
            display: none;
        }



    }


}

// @media (min-width: 800px) {

//     .nav-toggle-label {
//         display: none;
//     }
// }





