$background: rgba(224, 242, 242, .8);
// $shadow-main

.navbar {
    padding: 2rem 0 0 2rem;
    text-align: center;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 900;
    background-color: white;
    box-shadow: $shadow-main;
    height: 15rem;


    .logo {
        height: 6rem;
        opacity: .8;
    }

    .banner {
        margin-top: 2rem;
    }

    .navbar {

        &.active {
            background-color: black;
        }
    }

    nav {
        position: absolute;
        background: $background;
        width: 15%;
        text-align: left;
        transition: opacity .3s ease-in-out;
        // transform: scale(0);
        // transform-origin: top;
        // transition: scale .3s ease-in-out;
        // transition: transform .2s ease-in;
    }

    .active {
        // display: block;
        opacity: 1;
    }

    .pasive {
        // display: none;
        opacity: 0;
    }

    nav li {
        margin-bottom: 1em;
        margin-left: 1em;
    }

    nav a {
        color: $dark-gray;
        text-transform: uppercase;
        font-size: 1.7rem;
        // font-weight: $fw-b;

        span {
            color: inherit;
            transition: color 0.4s ease;

        }

        &:hover {
            // color: #636e72;

            span {
                font-weight: bold;
                color: black;
            }
        }
    }

    .nav-toggle:checked ~ nav {
        // display: block;
        // opacity: 100;
        // transform: scale(1);
    }

    .toggle-container {
        position: absolute;
        top: 3rem;
        left: 3rem;
        height: 100%;
    }

    .nav-toggle,
    .nav-toggle::before,
    .nav-toggle::after {
        position: relative;
        display: block;
        height: 2px;
        width: 3rem;
        background: #2d3436;
        border-radius: 2px;


    }

    .nav-toggle::before,
    .nav-toggle::after {
        content: '';
        position: absolute;
    }

    .nav-toggle::before {
        top: 1rem;
    }

    .nav-toggle::after {
        top: 2rem;
    }

    @media screen and (min-width: 800px) {

        display: grid;
        grid-template-columns: auto 1fr minmax(200px, 2fr);
        height: 10rem;

        .nav-toggle {
            display: none;
        }

        .pasive {
            opacity: 1;
        }

        .logo {
            // padding: 0 2rem;
            grid-column: 1 / span 1;
        }
        .banner {
            grid-column: 2 / span 1;
            justify-self: center;
            padding: 0 2rem;
        }

        nav {
            all: unset;
            grid-column: 3;
            display: flex;
            // border: 1px dotted hotpink; // helper
            justify-content: flex-end;
            align-items: flex-end;
            // margin-right: 3rem;
            margin-bottom: 1.2rem;

        }
        nav ul {
            display: flex;
            justify-content: space-around;
            align-items: flex-end;
            padding-right: 6rem;

            li:last-child {
                  display: none;



                  &.logged {
                    display: inline-block;
                    animation: moveInRight 1s ease-out;
                  }
                    a {
                  font-weight: 700;
                  color: #dd2d4a;
                    }
                }

            li {
                margin-bottom: 0;
            }

            li:not(:last-child) {
                margin-right: 2rem;
                // margin-bottom: 0;
            }

            a {
                position: relative;
            }

            a::before {
                content: '';
                position: absolute;
                height: 1px;
                background: #636e72;
                left: 0;
                right: 0;
                top: 1.2em;
                transform: scale(0, 1);
                transform-origin: right;
                opacity: 0;
                transition: transform 0.2s ease-in-out;
            }
            a:hover {

                &::before{
                    // transition: opacity 0.2s linear;
                    transform: scale(1, 1);
                    opacity: 1;
                }
            }
        }

        .nav-toggle-label {
            display: none;
        }



    }


}






