$background: rgba(224, 242, 242, .8);

.navbar {
    text-align: center;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 900;
    // background: $background;
    box-shadow: $shadow-main;
    // height: 7rem;

    .logo {
        height: 5rem;
    }

    .banner {
        margin-top: 2rem;
    }

    nav {
        position: absolute;
        background: $background;
        width: 100%;
        text-align: left;
        // display: none;
        // opacity: 0;
        transform: scale(0);
        transform-origin: top;
        // transition: scale .3s ease-in-out;
        transition: transform .2s ease-in;
    }

    nav li {
        margin-bottom: 1em;
        margin-left: 1em;
    }

    nav a {
        color: $gray;
        text-transform: uppercase;
        font-size: 1.5rem;

        span {
            color: inherit;
            transition: color 0.4s ease;

        }

        &:hover {
            // color: #636e72;

            span {
                font-weight: bold;
                color: black;
            }
        }
    }

    .nav-toggle:checked ~ nav {
        // display: block;
        // opacity: 100;
        transform: scale(1);
    }

    .nav-toggle {
        display: none;
    }

    .nav-toggle-label {
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 1em;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .nav-toggle-label span,
    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        display: block;
        background: #2d3436;
        height: 2px;
        width: 2em;
        border-radius: 2px;
        position: relative;
    }

    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
       content: '';
       position: absolute;
    }

    .nav-toggle-label span::before {
        bottom: 7px;
    }

    .nav-toggle-label span::after {
        top: 7px;
    }

    @media screen and (min-width: 800px) {

        display: grid;
        grid-template-columns: minmax(5rem, 1fr) 1fr auto minmax(200px, 3fr);

        .logo {
            grid-column: 1 / span 1;
        }

        nav {
            all: unset;
            grid-column: 4 / 5;
            display: flex;
            // border: 1px dotted hotpink; // helper
            justify-content: flex-end;
            align-items: flex-end;
            margin-right: 2rem;
            margin-bottom: 1.2rem;

        }
        nav ul {
            display: flex;
            justify-content: space-around;
            align-items: flex-end;

            li {
                margin-bottom: 0;
            }

            li:not(:last-child) {
                margin-right: 2rem;
                // margin-bottom: 0;
            }

            a {
                position: relative;
            }

            a::before {
                content: '';
                position: absolute;
                height: 1px;
                background: #636e72;
                left: 0;
                right: 0;
                top: 1.2em;
                transform: scale(0, 1);
                transform-origin: right;
                opacity: 0;
                transition: transform 0.2s ease-in-out;
            }
            a:hover {

                &::before{
                    // transition: opacity 0.2s linear;
                    transform: scale(1, 1);
                    opacity: 1;
                }
            }
        }

        .nav-toggle-label {
            display: none;
        }



    }


}

// @media (min-width: 800px) {

//     .nav-toggle-label {
//         display: none;
//     }
// }





