@import "typography";
@import "colors";
@import "vendors/normalize";

*,
*:before,
*::after {
    box-sizing: border-box;
}
// variables
$shadow: 0 5px 10px #A6ACAF;


// dimensions
$navheight: 70px;


body {
    font-family: $ff-s, sans-serif;
    color: #636e72;
    font-weight: $fw-n;
    font-size: .875rem;
    margin: 0;
}

.App {
    margin: 0;
    padding: 0;
    // max-width: 1000px;
    // margin: 0 auto;
    // border: 1px dotted orange;
}

.home {
    height: 200vh;
}

.bodyLayout {
    margin-top: 110px;
}

span {
    color: black;
}

nav,
nav ul,
nav ul li {
    margin: 0;
    padding: 0;
}

nav ul {
    list-style: none;
}
h1 {
    margin: 0;
}

a {
    text-decoration: none;
}

figure {
    padding: 0;
    margin: 0;
}
